<header class="intro">
<h2>Welcome to Lelylan</h2>
<h3>{ connected house for developers }</h3>
</header>

</br>

<aside>

<section>
  <header>Easy</header>
  <p>
  Makes it easy to start building the connected house on the web, today.
  </p>
</section>

<section>
  <header>Developers</header>
  <p>
  Strives to have the best, and most friendly documentation for developers and hackers.
  </p>
</section>

<section>
  <header>Change</header>
  <p>
  Made up from people who want to building the best solution for your house.
  </p>
</section>

</aside>

</br>

<div class="content">
  <div class="bcta"><a href="/" class="cta">Get started with Lelylan</a></div>
</div>
