<% title 'Lelylan Subscription' %>

<header class="intro">
<h3>You are now subscribed</h3>
</br>
<h4>
  We hope to give you access shortly</br>
  In the meantime take a moment to spread the word</h4>
</header>

</br>

<div class="content">
  <div class="bcta">
  <a class="cta colored" href="http://twitter.com/?status=Connected%20House%20for%20Developers.%20Subscribe%20for%20a%20Lelylan%20invitation%20http://people.lelylan.com/subscriptions/new">Share on Twitter</a>
  </div>
</div>

