<p>Hi <%= @resource.email %>.</p>

<p>
Thanks for your interest in Lelylan and in joining our Beta program.
</p>

<p>
To make sure we can meet the needs of people taking part, we're managing this stage of the Beta program in a contained way.
As one of the first members of, your feedback will help set the tone for the whole project. Use imagination, make questions,
experiment and hopefully, have fun using Lelylan.
</p>

<p>
It would be great if you could provide us with some more information about how you would like to use Lelylan. In this way
we can determine the best way to get you involved. We are seeking for new collaborations, but more specifically we’re
interested in understanding whether you want to use Lelylan do define user interaction solutions or to connect physical
devices. 
</p>

<p>
Thanks for your time and now, please, accept the invitation through the link below.
</p>

<p><%= link_to 'Accept invitation', accept_invitation_url(@resource, invitation_token: @resource.invitation_token) %></p>

<p>
We look forward to hearing back from you. Thank you again for your interest in Lelylan.
</p>

<p>
Best regards,
</p>

<p>
Reggie,</br>
Founder Lelylan
</p>
