<p>Hi <%= @resource.email %>.</p>

<p>
Thanks for your interest in Lelylan and in joining our Beta program.
</p>

<p>
To make sure we can meet the needs of people taking part, we're managing this <br/>
stage of the Beta program in a contained way. As one of the first members of, <br/>
your feedback is really important. Question everything, tell us your opinions, <br/>
experiment and hopefully, have fun using Lelylan. <br/>
</p>

<p>&raquo; <%= link_to 'Accept invitation', accept_invitation_url(@resource, invitation_token: @resource.invitation_token) %></p>

<p>
Best regards,
</p>

<p>
Reggie,</br>
Founder Lelylan
</p>
