<header class="intro">
<h3>Authorized applications</h3>
<h4>{ control your resources access }</h4>
</header>

</br>

<div class="content">

  <table class="zebra-striped">
    <thead>
      <tr>
        <th>Application</th>
        <th>Authorized at</th>
        <th style="width:50px;"></th>
      </tr>
    </thead>
    <tbody>
      <% @applications.each do |application| %>
        <tr>
          <td><%= application.name %></td>
          <td><%= application.created_at %></td>
          <td class="btn-container"><%= link_to 'Revoke', oauth_authorized_application_path(application), :data => { :confirm => 'Are you sure?' }, :method => :delete, :class => 'btn danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

</div>
